---
import Footer from "../components/Footer.astro";
import GetStartedSection from "../components/GetStartedSection.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation";
import ShorteningSection from "../components/ShorteningSection";
import StatisticsSection from "../components/StatisticsSection.astro";
import ToastContainer from "../components/ToastContainer";

import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Shortly URL shortening API Challenge</title>
  </head>
  <body>
    <header>
      <Navigation client:load />
    </header>
    <main class="overflow-x-hidden">
      <Hero />
      <ShorteningSection client:load />
      <StatisticsSection />
      <GetStartedSection />
    </main>
    <Footer />
    <ToastContainer client:load />
  </body>
</html>
