---

---

<footer class="w-full bg-very-dark-violet">
    <div class="flex flex-col md:flex-row items-center md:items-start md:justify-between w-full max-w-[1190px] mx-auto px-[23.6px] md:px-[39.6px] pb-[55px] pt-[54px] md:py-[72px]">
        <a href="">
            <img src="./images/logo.svg" alt="shortly logo" class="brightness-0 invert">
        </a>
        <div class="flex flex-col md:flex-row gap-[28px] md:gap-[77px] mt-[50px] md:m-0 text-white text-[15px] text-center md:text-left">
            <div class="lg:ml-[157px]">
                <dt class="font-bold mb-[23px] text-[16px]">Features</dt>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Link Shortening</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Branded Links</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Analytics</a></dd>
            </div>
            <div>
                <dt class="font-bold mb-[23px] text-[16px]">Resources</dt>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Blog</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Developers</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Support</a></dd>
            </div>
            <div class="md:ml-[28px]">
                <dt class="font-bold mb-[23px] text-[16px]">Company</dt>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">About</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Our Team</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Careers</a></dd>
                <dd class="my-[10px] text-grayish-violet hover:text-cyan transition-all"><a href="#">Contact</a></dd>
            </div>
        </div>
        <div>
            <ul class="flex items-center gap-[24px] mt-[39px] md:m-0">
                <li>
                    <a href="">
                        <img src="./images/icon-facebook.svg" alt="icon facebook">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/icon-twitter.svg" alt="icon twitter">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/icon-pinterest.svg" alt="icon pinterest">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/icon-instagram.svg" alt="icon instagram">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>