---

---

<footer>
    <div>
        <a>
            <img src="./images/logo.svg" alt="shortly logo">
        </a>
        <div>
            <div>
                <dt>Features</dt>
                <dd>Link Shortening</dd>
                <dd>Branded Links</dd>
                <dd>Analytics</dd>
            </div>
            <div>
                <dt>Resources</dt>
                <dd>Blog</dd>
                <dd>Developers</dd>
                <dd>Support</dd>
            </div>
            <div>
                <dt>Company</dt>
                <dd>About</dd>
                <dd>Our Team</dd>
                <dd>Careers</dd>
                <dd>Contact</dd>
            </div>
        </div>
        <div>
            <ul>
                <li>
                    <a href="">
                        <img src="./images/icon-facebook.svg" alt="icon facebook">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/icon-twitter.svg" alt="icon twitter">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/icon-pinterest.svg" alt="icon pinterest">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="./images/icon-instagram.svg" alt="icon instagram">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>