---

---

<section class="w-full bg-dark-violet bg-boost-pattern bg-no-repeat bg-cover">
  <div
    class="flex flex-col items-center w-full max-w-[1190px] mx-auto px-[23.6px] md:px-[39.6px] pb-[88px] pt-[97px] md:py-[55px]"
  >
    <h2 class="text-[26.5px] md:text-[38px] font-bold text-white">
      Boost your links today
    </h2>
    <button
      type="button"
      class="px-10 py-[14px] mt-[17px] md:mt-[23px] text-[20px] font-bold rounded-full bg-cyan text-white hover:bg-light-cyan transition-all"
      >Get Started</button
    >
  </div>
</section>
