---

---

<section>
  <div>
    <h2>Boost your links today</h2>
    <button
      type="button"
      class="px-10 py-[14px] mt-[28px] md:m-0 text-[20px] font-bold bg-red rounded-full"
      >Get Started</button
    >
  </div>
</section>
