---

---

<section class="w-full">
  <div class="w-full flex items-center max-w-[1190px] mx-auto px-[39.6px] pt-[77.92px] gap-[24px]">
    <div class="">
      <h1 class="text-[80.5px] font-bold leading-[90px] tracking-[-2.5px]">More than just shorter links</h1>
      <p class="text-[22.5px] mb-[36px] mr-[40px]">
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
      </p>
      <button type="button" class="px-10 py-[14px] text-[20px] font-bold bg-red rounded-full">Get Started</button>
    </div>
    <div class="">
      <img src="./images/illustration-working.svg" alt="illustration working" class="w-[165%] max-w-fit" />
    </div>
  </div>
</section>
