---

---

<section class="w-full">
  <div
    class="w-full flex flex-col-reverse md:flex-row items-center max-w-[1190px] mx-auto px-[23.6px] md:px-[39.6px] pt-[38.92px] md:pt-[77.92px] pb-[167px] md:pb-[152px] gap-[32px] md:gap-[24px]"
  >
    <div class="text-center md:text-left">
      <h1
        class="text-[44.5px] md:text-[80.5px] font-bold leading-[49px] md:leading-[90px] tracking-[-2.5px]"
      >
        More than just shorter links
      </h1>
      <p
        class="text-[18.5px] md:text-[22.5px] mt-[12px] md:mt-0 md:mb-[38px] md:mr-[40px] leading-[30px] md:leading-normal text-gray"
      >
        Build your brand’s recognition and get detailed insights on how your
        links are performing.
      </p>
      <a
        href="#shortening-form"
        class="block w-fit px-10 py-[14px] mt-[28px] md:m-0 text-[20px] font-bold bg-cyan text-white hover:bg-light-cyan  rounded-full transition-all"
        >Get Started</a
      >
    </div>
    <div class="">
      <img
        src="./images/illustration-working.svg"
        alt="illustration working"
        class="w-[153%] md:w-[165%] max-w-fit"
      />
    </div>
  </div>
</section>
