---
---

<section class="w-full bg-light-gray">
    <div class="flex flex-col items-center w-full max-w-[1190px] mx-auto px-[23.6px] md:px-[39.6px]">
        <div class="text-center max-w-[550px]">
            <h2 class="text-[38px] font-bold">Advanced Statistics</h2>
            <p class="mt-[13px] text-[19px] tracking-[-0.3px] leading-[30px]">Track how your links are performing across the web with our advanced statistics dashboard</p>
        </div>
        <div class="flex gap-5 mt-[90px]">
            <div class="relative p-[16px] bg-red">
                <div class="absolute">
                    <img src="./images/icon-brand-recognition.svg" alt="icon brand recognition">
                </div>
                <h3>Brand Recognition</h3>
                <p>Boost your brand recognition with each click. Generic links help instil confidence in your content</p>
            </div>
            <div class="relative bg-red">
                <div class="absolute">
                    <img src="./images/icon-brand-recognition.svg" alt="icon brand recognition">
                </div>
                <h3>Brand Recognition</h3>
                <p>Boost your brand recognition with each click. Generic links help instil confidence in your content</p>
            </div>
            <div class="relative bg-red">
                <div class="absolute">
                    <img src="./images/icon-brand-recognition.svg" alt="icon brand recognition">
                </div>
                <h3>Brand Recognition</h3>
                <p>Boost your brand recognition with each click. Generic links help instil confidence in your content</p>
            </div>
        </div>
    </div>
</section>