---
---

<section>
    <div>
        <div>
            <h2>Advanced Statistics</h2>
            <p>Track how your links are performing across the web with our advanced statistics dashboard</p>
        </div>
        <div>
            <div>
                <div>
                    <img src="./images/icon-brand-recognition.svg" alt="icon brand recognition">
                </div>
                <h3>Brand Recognition</h3>
                <p>Boost your brand recognition with each click. Generic links help instil confidence in your content</p>
            </div>
        </div>
    </div>
</section>